.photo-grid {
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 48px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px 16px;
  object-fit: contain;
}
@media (max-width:1200px) {
  .photo-grid {
    gap: 14px 14px;
  }
}
@media (max-width:1024px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 0 48px;
  }
}
@media (max-width:768px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    padding: 0 24px;
    gap: 16px 16px;
  }
}
@media (max-width:425px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    padding: 0 16px;
    gap: 12px 12px;  
  }
}