.place__text {
  display: flex;
  flex-direction: column;
  gap: 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}
@media (max-width: 768px) {
  .place__text {
    font-size: 16px;
    gap: 25px;
  }
}
@media (max-width: 425px) {
  .place__text {
    padding: 0 16px;
    max-width: 288px;
  }
}