.footer__copyright {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
}
@media (max-width: 760px) {
  .footer__copyright {
  margin-top: 16px;
  }
}
@media (max-width: 600px) {
  .footer__copyright {
  line-height: 14px;
  }
}