.lead__image {
  max-width: 984px;
  box-sizing: border-box;
  object-fit: contain;
}
@media (max-width: 1024px) {
  .lead__image {
    width: 100%;
    padding: 0 48px;
  }
}
@media (max-width: 768px) {
  .lead__image {
    padding: 0;
  }
}