.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  max-width: 1184px;
  height: 740px;
  background-image: url(/images/train_station.png);
  z-index: 0;
}
@media (max-width: 1200px) {
  .cover {
  }
}