.place {
  margin: 0 auto;
  max-width: 984px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(452px, 1fr));
  grid-template-rows: min-content min-content;
  gap: 48px 40px;
}
@media (max-width: 1024px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 48px 32px;
  }
}
@media (max-width: 768px) {
  .place {
    gap: 48px 28px;
  }
}
@media (max-width: 760px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 32px;
  }
}
@media (max-width: 425px) {
  .place {
    gap: 32px 28px;
  }
}